body {
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a {
    text-decoration: none;
    display: inline;
    color: black;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header  .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}

header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

header .icons span {
    color: #fff;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

nav .nav-logo-container {
    margin-left: 10px;
}

nav .nav-logo-container img {
    width: 220px;
    margin-top: 10px;
}

nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .profile-link a {
    color: black;
    border-bottom: 1px solid black;
    font-weight: bold;
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background-image: url(../assets/img/Cover.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

main .main-text {
    margin-top:60px;
}

main .main-text p {
	font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
	color: white;
	letter-spacing: 25px;
	line-height: 70px;
}

main .main-button {
    margin-bottom: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .main-button button {
    width: 140px;
    height: 50px;
    border-radius: 5px;
    border: none;
    color: black;
    font-weight: bolder;
    font-size: 17px;
    background-color: #47cfac;
    cursor: pointer;
    
}

main .main-button button:hover {
    transform: scale(1.12);
    transition: all 0.8;
    box-shadow: 0px 0px 5px 5px rgb(40, 138, 121, 0.5);
}

@media screen and (max-width: 768px){
    main .main-text {
        margin-left: 60px;
        margin-top: 200px;
    }

    main .main-text p {
        font-size: 2.2rem;
        justify-content: center;
        letter-spacing: 10px;

    }
    main .main-button {
        margin-top: 110px;
    }
}

@media screen and (max-width: 1100px){
    main .main-text {
        margin-left: 60px;
        margin-top: 200px;
    }

    main .main-text p {
        font-size: 2.2rem;
        justify-content: center;
        letter-spacing: 10px;

    }
    main .main-button {
        margin-top: 110px;
    }
}